body{
 scroll-margin-right: auto;
  background-image:url('./background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  text-align: center;
  color: rgb(44, 47, 48);
  text-shadow: 20px;
text-overflow: ellipsis;
}